#blocks {
    height: 100%;
    width: 13%;
    margin-left: 15px;
    background-color: #ddd;
    border-bottom-right-radius: 3%;
    border-top-right-radius: 3%;
}

#work-space {
    height: 100%;
    width: 85%;
    background-color: #fff;
}

.game-play-body {
    height: 70vh;
}

.game-play-header {
    background-color: rgb(118, 101, 160);
    color: white;
    width: 100%;
}

.game-play-header > table, tr, td {
    border: 1px solid #fbfb77;
}

#blocks-header {
    width: 13%;
}

#work-space-header {
    width: 85%;
}

.block {
    width: 75%;
    background-color: cadetblue;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    color: white;
}

.left {
    width: 25%;
    margin-right: 15px;
}

.right {
    width: 72%;
}

#instructions-header {
    background-color: rgb(207, 201, 222);
}

#instructions-header > p {
    margin-left: 10px;
}

#instructions-body {
    background-color: rgb(221, 221, 221);
    height: 92px;
}

#instructions {
    margin-bottom: 10px;
}

#begin-block {
    background-color: rgb(253, 164, 0);
    width: 90px;
    color: white;
    margin-left: 15px;
    margin-top: 15px;
}
