#game-board {
    background-image: url("../img/background.png");
    max-width: 400px;
    max-height: 400px;
}

#blocks {
    height: 100%;
    width: 13%;
    margin-left: 15px;
    background-color: #ddd;
    border-bottom-right-radius: 3%;
    border-top-right-radius: 3%;
}

#work-space {
    height: 100%;
    width: 85%;
    background-color: #fff;
}

.game-play-body {
    height: 70vh;
}

.game-play-header {
    background-color: rgb(118, 101, 160);
    color: white;
    width: 100%;
}

.game-play-header > table, tr, td {
    border: 1px solid #fbfb77;
}

#blocks-header {
    width: 13%;
}

#work-space-header {
    width: 85%;
}

.block {
    width: 75%;
    background-color: cadetblue;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    color: white;
}

.left {
    width: 400px;
    margin-left: 50px;
}

.right {
    width: 75%;
}

#instructions-header {
    background-color: rgb(207, 201, 222);
}

#instructions-header > span {
    margin-left: 30px;
}

#instructions-body {
    background-color: rgb(221, 221, 221);
    height: 67px;
}

#instructions {
    margin-bottom: 10px;
}

#begin-block {
    background-color: rgb(253, 164, 0);
    width: 90px;
    color: white;
    margin-left: 15px;
    margin-top: 15px;
}

.instructions-image {
    width: 6%;
}

.instructions-image > img {
    margin-top: 15px;
    margin-left: 15px;
}

.obstacles {
    width: 50px;
    height: 50px;
    background: url("../img/tiles.png") 50px 50px;
}

.pigs {
    background: url("../img/goalIdle.gif");
    background-size: 50px;
    width: 50px;
    height: 50px;
}

.birds {
    background: url("../img/idle_avatar.gif") 100px 50px;
    background-size: 200px;
    width: 50px;
    height: 50px;
}

.space {
    width: 50px;
    height: 50px;
}

#button-start {
    margin-top: 18px;
    height: 70px;
    width: 400px;
}

#button-game {
    display: inline-block;
    border: 1px solid #ffa400;
    background-color: #ffa400;
    padding: 7px 10px 7px 6px;
    text-align: left;
    width: 93px;
    height: 40px;
    margin: 5px 10px 5px;
}

.speech-bubble {
    position: relative;
    background: #ffffff;
    border-radius: .4em;
    height: 50px;
    margin-top: 10px;
    width: 90%;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-right-color: #ffffff;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -15px;
}
