#game-board {
    background-image: url("../img/background.png");
    width: 100%;
    height: 400px;
    max-width: 400px;
    max-height: 400px;
}

/*#game-board:before {*/
/*    content: "";*/
/*    display: block;*/
/*    padding-bottom: 100%;*/
/*}*/

#blocks {
    height: 100%;
    width: 11%;
    background-color: #ddd;
    border-bottom-right-radius: 3%;
    border-top-right-radius: 3%;
    float: left;
}

#work-space {
    height: 100%;
    width: 89%;
    background-color: #fff;
    float: left;
}

.game-play-body {
    height: 70vh;
}

.game-play-header {
    background-color: rgb(118, 101, 160);
    color: white;
    width: 100%;
}

.game-play-header > table, tr, td {
    border: 1px solid #fbfb77;
}

#blocks-header {
    width: 11%;
}

#work-space-header {
    width: 89%;
}

.block {
    width: 60%;
    max-width: 115px;
    background-color: rgb(0, 176, 189);
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 5px;
    color: white;
    border-top-left-radius: .4em;
    border-bottom-left-radius: .4em;
    position: relative;
    font-size: 0.8vw;
}

.block:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: rgb(0, 176, 189);
    border-bottom: 0;
    margin-left: -5px;
    margin-bottom: -5px;
}

.block:before {
    content: '';
    position: absolute;
    top: 0;
    left: 20%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #dddddd;
    border-bottom: 0;
    margin-left: -5px;
    margin-bottom: -5px;
}

.play-block {
    background-color: rgb(0, 176, 189);
    width: 8%;
    max-width: 115px;
    color: white;
    margin-left: 15px;
    border-top-left-radius: .4em;
    border-bottom-left-radius: .4em;
    position: relative;
    font-size: 0.8vw;
}

.play-block:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: rgb(0, 176, 189);
    border-bottom: 0;
    margin-left: -5px;
    margin-bottom: -5px;
}

.play-block:before {
    content: '';
    position: absolute;
    top: 0;
    left: 20%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #dddddd;
    border-bottom: 0;
    margin-left: -5px;
    margin-bottom: -5px;
}

#game-play {
    margin-left: 30px;
}

.left {
    width: 24%;
    float: left;
}

.right {
    width: 76%;
    height: 100%;
    right: 70vh;
    float: left;
}

#instructions-header {
    background-color: rgb(207, 201, 222);
}

#instructions-header > span {
    margin-left: 30px;
}

#instructions-body {
    background-color: rgb(221, 221, 221);
    height: auto;
}

#instructions {
    margin-bottom: 10px;
}

#begin-block {
    background-color: rgb(253, 164, 0);
    width: 8%;
    max-width: 93px;
    color: white;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 0.8vw;
}

#begin-block:after {
    border-top-color: rgb(253, 164, 0);
}

#begin-block:before {
    border-top-color: #ffffff;
}

.obstacles {
    width: 12.5%;
    height: 12.5%;
    max-height: 50px;
    max-width: 50px;
    background-size: 100%;
    background: url("../img/tiles.png") 50px 50px;
}

.pigs {
    background: url("../img/goalIdle.gif") no-repeat;
    background-size: 100%;
    position: sticky;
    width: 12.5%;
    height: 12.5%;
    max-height: 50px;
    max-width: 50px;
}

.birds {
    background: url("../img/idle_avatar.gif") 100px 50px;
    background-size: 200px;
    width: 12.5%;
    height: 12.5%;
    max-height: 50px;
    max-width: 50px;
}

.space {
    width: 12.5%;
    height: 12.5%;
    max-height: 50px;
    max-width: 50px;
}

#button-start {
    margin-top: 3%;
    width: 100%;
    margin-left: 15px;
}

#button-game {
    display: inline-block;
    border: 1px solid #ffa400;
    background-color: #ffa400;
    text-align: left;
    width: 93px;
    height: 40px;
    margin: auto;
    color: white;
    font-size: 20px;
    border-radius: .2em;
}

#button-reset {
    display: inline-block;
    border: 1px solid #0094ca;
    background-color: #0094ca;
    text-align: left;
    width: 93px;
    height: 40px;
    margin: auto;
    color: white;
    font-size: 20px;
    border-radius: .2em;
}

.speech-bubble {
    position: relative;
    background: #ffffff;
    border-radius: .4em;
    height: auto;
    margin: auto;
    width: 100%;
    float: left;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 60%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-right-color: #ffffff;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -15px;
}

.block-content {
    margin-left: 10px;
    margin-bottom: 0px;
}
